{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <div class="page-header">
        <a href="{{ path('app_category_index') }}" class="btn-back">← Back to list</a>
        <h1>Edit Category</h1>
    </div>

    <div class="form-card">
        {{ include('category/_form.html.twig', {'button_label': 'Update Category'}) }}
    </div>

    <div class="danger-zone">
        <h3>Danger Zone</h3>
        <p>Once you delete a category, there is no going back. Please be certain.</p>
        {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}
